@model EduEscola.Models.Aluno

@{
    ViewData["Title"] = "Editar";
}


<div class="page-content page-container" id="page-content" style="margin-top:50px">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="align-self-auto">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <div class="m-b-25">
                                        @if (Model.Genero_Aluno == "Masculino")
                                        {

                                            <img src="https://img.icons8.com/bubbles/100/null/man-in-red-glasses-and-yellow-shirt.png" class="img-radius" alt="User-Profile-Image" />

                                        }
                                        else if (Model.Genero_Aluno == "Feminino")
                                        {

                                            <img src="https://img.icons8.com/bubbles/100/null/brown-curly-hair-business-lady.png" class="img-radius" alt="User-Profile-Image" />
                                        }
                                        else if (Model.Genero_Aluno == "Outros")
                                        {
                                            <img src="https://img.icons8.com/bubbles/100/null/unisex.png" class="img-radius" alt="User-Profile-Image" />

                                        }
                                        else
                                        {
                                            <img src="https://icons8.com/icon/MjD9wmGLwhA2/user" class="img-radius" alt="User-Profile-Image">
                                        }
                                    </div>
                                </div>
                                    <h6 class="f-w-600">@Html.DisplayFor(model => model.NomeCompleto)</h6>

                                <p>Estudante</p>
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">

                                <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="IdAluno" />
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informações do Aluno</h6>
                                <div class="Col">

                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">Nome Completo: </p>   
                                           <input asp-for="NomeCompleto" class="form-control" />
                                             <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">CPF: </p>   
                                            <input asp-for="Cpf" class="form-control" />
                                            <span asp-validation-for="Cpf" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">Sexo: </p>                      
                                            <select class="form-control" id="Genero_Aluno" name="Genero_Aluno">
                                                <option value="Masculino">Masculino</option>
                                                <option value="Feminino">Feminino</option>
                                                <option value="Outro">Outro</option>
                                            </select>
                                    </div>
                                    <br>
                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">Data de Nascimento: </p>   
                                            <input asp-for="DataNascimento" class="form-control" />
                                             <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="row form-group ">
                                        <p class="m-b-10 f-w-600">Matrícula: </p>   
                                            <input asp-for="MatriculaAluno" class="form-control" />
                                            <span asp-validation-for="MatriculaAluno" class="text-danger"></span>
                                    </div> 
                                    <br>
                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">Status da Matricula: </p>                                              
                                            <div class="col-md-10">
                                                <select class="form-control" id="Status_Matricula" name="Status_Matricula">
                                                    <option value="Ativo">Ativo</option>
                                                    <option value="Trancado">Trancado</option>
                                                </select>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row form-group">
                                        <p class="m-b-10 f-w-600">Turma: </p>   
                                            <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.TurmaId"> </select>
                                            <span asp-validation-for="TurmaId" class="text-danger"></span>
                                    </div>
                                </div>
                                <br><br>
                                <div class="form-group">
									<a class="btn btn-dark" asp-action="Index" style=" color: #fff; background: #001B3D"> Voltar </a> |
									<input type="submit" value="Save" class="btn btn-primary" style=" color: #fff; background: #001B3D"/>
							    </div>
                                </form>                  
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<style>
.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(41,54,60) rgba(69,90,100,0.10);
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.10);
    border: none;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: #001B3D;
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 16px;
}

.card .card-block p {
    line-height: 25px;
}


p {
    font-size: 16px;
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa5 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
</style>

